[Desktop Entry]
Name=KDE 1
Comment=K Desktop Environment 1.1
Exec=startkde
TryExec=startkde1-fast
Type=Application
X-LightDM-DesktopName=kde1
DesktopNames=kde1
Keywords=desktop
