Source: kdebase
Section: contrib/x11
Priority: extra
Maintainer: Stephan Kulow <coolo@kde.org>
Standards-Version: 2.3.0.0

Package: kdebase
Architecture: any
Depends: menu (>=1.5-5), ${shlibs:Depends}
Suggests: kdewallpapers
Recommends: kdebase-i18n
Description: KDE core applications
 This is a suite of all kde core applications :
 file manager kfm, window manager kwm, desktop manager kdm
 and others.

Package: kdewallpapers
Recommends: kdebase
Architecture: all
Description: Some wallpapers for KDE 

Package: kdebase-i18n
Depends: kdebase
Architecture: all
Description: Translations of applications in kdebase.
 It contains translations into 31 languages
